<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Firebase RealTime Chat</title>
    <link rel="stylesheet" href="./chat.css" />
  </head>
  <body>
    <header>
      <h2>Firebase RealTime Chat</h2>
    </header>

    <div id="chat">
      <ul id="messages"></ul>

      <form id="message-form" action="/api/chat/" method="post">
        <input id="message-input" name="msg" type="text" />
        <input id="username" name="username" value="" type="hidden" />
        <button id="message-btn" type="submit">Send</button>
      </form>
    </div>
    <!-- scripts -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>
    <script src="/chat.js"></script>
    <script>
      document.getElementById("username").value = username;
      document.forms["message-form"].addEventListener(
        "submit",
        async (event) => {
          event.preventDefault();
          const messageInput = document.getElementById("message-input");

          document.getElementById("messages").scrollIntoView({
            behavior: "smooth",
            block: "end",
            inline: "nearest",
          });
          const resp = await fetch(event.target.action, {
            method: "POST",
            body: new URLSearchParams(new FormData(event.target)),
          });
          const body = await resp.text();
          messageInput.value = "";
        }
      );
    </script>
  </body>
</html>
